[submodule "anki"]
	path = anki_meetup_memorizer/anki
	url = https://github.com/dae/anki.git
[submodule "anki_meetup_memorizer/anki"]
	path = anki_meetup_memorizer/anki
	url = https://github.com/dae/anki.git
