[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
meetup-api = {editable = true, ref = "develop", git = "git://github.com/patcon/meetup-api.git"}
PyDrive = "*"
anki-meetup-memorizer = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.6"
