[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
meetup = {editable = true, ref = "develop", git = "git://github.com/patcon/meetup-api.git"}
pyaudio = "*"
PyDrive = "*"

[dev-packages]

[requires]
python_version = "3.6"
